header {
    background: #151515 url("https://github.com/Caproven/caproven.github.io/blob/master/resources/binding_dark.png?raw=true") 0 0;
    text-align: center;
    color: antiquewhite;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Abel';
}

ul {
  list-style-type: none;
}
